<div class="ui container">
  <div class="ui two column centered grid">
    <div class="column">
      <h2>Sign In</h2>
      <form class="ui form" #signin="ngForm" (ngSubmit)="onSubmit()">
        <div class="field">
          <input type="text" name="email" (ngModel)="email" #email="ngModel" placeholder="Email" />
        </div>
        <div class="field">
          <input type="password" name="password" (ngModel)="password" #password="ngModel" placeholder="Password" />
        </div>
        <button type="submit" class="ui right floated button">Sign In</button>
      </form>
    </div>
  </div>
</div>